<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Ideal Tech Blog</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
</head>

<body>
  <header>
    <nav id="nav-buttons">      
      {{#if logged_in}}  
      <a <button type="button" class="btn btn-dark" href="/">Home</button></a>
      <a <button type="button" class="btn btn-dark" href="/posts">Posts</button></a> 
      <a <button type="button" class="btn btn-dark" href="/" id="logout">Log out</button></a>      
      {{else}}
      <a <button type="button" class="btn btn-dark" href="/">Home</button></a>
      <a <button type="button" class="btn btn-dark" href="/posts">Posts</button></a>   
      <a <button type="button" class="btn btn-dark" href="/login">Log in</button></a> 
      <a <button type="button" class="btn btn-dark" href="/signup">Sign Up</button></a>
      {{/if}}
      <nav>
      <h1 class="text-black text-center"> <span style="font-size:30px; margin-left:20px">The Tech Blog</span></h1>

  </header>
  <main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    {{{ body }}}
  </main>

</body>

</html>