<h6>Add a post</h6>

<section class="addPost">
    <input type="text" class="heading" placeholder="Enter Title"></input>
    <textarea class="body" placeholder="Enter Content"></textarea>
    <button class="post btn-dark" >Post</button>
</section>

<script src="./js/posts.js"></script>