{{!-- <section class="card offset-*" style="width: 30rem">
      <h2 class="text-center p-3 mb-2 tech">Sign Up</h2>
  <section class="card-body">
    <blockquote class="form blockquote login-form mb-0">
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">E-mail:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn tech" type="submit">Sign Up</button>
      </div>
    </form>
    </blockquote>
  </section>
</section> --}}


<form class="signup-form">

   <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="name-signup" class="form-control" />
    <label class="form-label" for="name-signup">Name</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="email-signup" class="form-control" />
    <label class="form-label" for="email-signup">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="password-signup" class="form-control" />
    <label class="form-label" for="password-signup">Password</label>
  </div>

  <!-- Submit button -->
  <button class="btn btn-primary btn-block mb-4" type="submit">Sign Up</button>

</form>

<script src="./js/login.js"></script>

<script src="./js/signup.js"></script>

    